@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200..900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    body {
    margin: 0;
    padding: 0;
    background-color: rgb(83, 73, 73);
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

#time {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 40px;
    color: rgb(255, 219, 57);
    z-index: 1;
}

#time .circle {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#time .circle svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

#time .circle svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: rgb(63, 47, 47);
    stroke-width: 4;
    transform: translate(5px, 5px);
}

#time .circle svg circle:nth-child(2) {
    stroke: var(--clr);
    stroke-dasharray: 440;
}

#time .circle div {
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
}

#time .circle div span {
    display: block;
    margin-top: 10px;
    font-size: 0.5em;
    letter-spacing: 0.1em;
}

#time .ap {
    position: relative;
    font-size: 1em;
    transform: translateX(-20px);
    font-weight: 600;
    align-self: center;
}

.dots {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.dots::before {
    content: '';
    position: absolute;
    top: 3px;
    width: 10px;
    height: 10px;
    background: var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr);
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #1d1d1d;
}
}